{{ partial "header.html" . }}

<article class="article">
{{if not .Params.no_title}}
  <h1 class="article__title">{{ .Title }}</h1>
{{end}}

{{if not .Params.no_date }}
  <div class="article__meta">
    Publié le {{ partial "article-date.html" . }} par {{ .Params.author }}
  </div>
{{ end }}

  {{ .Content }}
</article>

{{ partial "footer.html" . }}
